---
import { Icon } from "astro-icon/components";
import { FOOTER_SECTIONS, FOOTER_COPYRIGHT } from "@data/footer";
---

<footer
  class="flex flex-col items-center justify-center gap-2 bg-[#004fa8] text-white px-[10%] py-4"
>
  <div class="grid grid-cols-4 w-full">
    <div></div>
    {
      FOOTER_SECTIONS.map((section) => (
        <ul>
          <li class="font-bold text-lg mb-2">{section.title}</li>
          {section.items.map((item) => (
            <li>
              <a
                href={item.href}
                class="flex items-center text-sm gap-1 hover:underline w-fit my-2"
              >
                {item.icon && (
                  <Icon name={item.icon} class="text-sm text-[#ffd600]" />
                )}
                <span>{item.label}</span>
              </a>
            </li>
          ))}
        </ul>
      ))
    }
  </div>

  <hr class="bg-white w-full" />

  <span class="text-gray-300 text-xs">{FOOTER_COPYRIGHT}</span>
</footer>

