---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import BgParallaxImg from "@imgs/home/estadisticas/fondo.jpg";

import { METHODOLOGY_PHASES } from "@data/methodologyPhases.ts";
---

<section
  class="relative text-white flex flex-col items-center justify-center gap-8 w-full lg:h-screen lg:min-h-screen px-[5%] py-12 lg:py-0"
>
  <Image
    src={BgParallaxImg}
    alt={"Imagen de fondo de un parque solar"}
    loading={"lazy"}
    fetchpriority={"auto"}
    decoding={"async"}
    class="absolute top-0 left-0 w-full h-full grayscale-50 will-change-transform"
  />
  <div
    class="absolute top-0 left-0 w-full h-full bg-radial-[at_50%_25%] from-[#004ea9AA] from-40% to-[#06183D] backdrop-blur-xs"
  >
  </div>

  <header class="flex flex-col items-start justify-start gap-4 z-2">
    <h2
      class="flex flex-col gap-2 font-black text-4xl lg:text-6xl uppercase text-gray-100"
    >
      Tu Ruta de Ejecución
    </h2>
    <p class="text-sm lg:text-xl 2xl:text-2xl text-gray-200">
      Nuestro modelo de negocio te brinda las herramientas y conocimientos para
      que co-desarrollemos proyectos solares de manera exitosa
    </p>

    <div
      class="grid grid-cols-1 lg:grid-cols-2 items-start justify-center gap-4 lg:gap-2 w-full"
    >
      {
        METHODOLOGY_PHASES.map((phase) => (
          <article class="group flex flex-col items-start justify-start bg-linear-to-br from-35% from-black/15 to-white/15 backdrop-blur-sm border border-white/15 px-6 py-4 w-full min-h-full 2xl:text-xl">
            <h3 class="font-bold border-b border-white pb-2 w-full 2xl:text-xl">
              {phase.title}
            </h3>
            <p class="mt-2 2xl:text-lg">{phase.description}</p>

            <ol class="flex flex-col gap-2 mt-4 w-full list-none">
              {phase.steps.map((step) => (
                <li class="flex items-center justify-start gap-2 bg-linear-to-l from-white/25 to-white/5 px-3 py-2 w-full">
                  <Icon name={step.icon} class="text-2xl shrink-0" />
                  <span>{step.label}</span>
                </li>
              ))}
            </ol>
          </article>
        ))
      }
      <a
        href="/aplica"
        class="group flex items-center justify-start gap-2 hover:underline w-fit py-2 rounded-md"
      >
        <span>Aplica con tu proyecto</span>
        <Icon
          name="lucide:arrow-right"
          class="group-hover:translate-x-2 transition-all duration-500"
        />
      </a>
    </div>
  </header>
</section>
