---
import { Image } from "astro:assets";

import { PILLARS } from "@data/pillars";
---

<div
  id="bottom-cards"
  class="absolute bottom-0 left-0 grid grid-cols-5 px-4 w-full overflow-hidden gap-2 transition-all duration-500 ease-in-out"
>
  {
    PILLARS.map((pillar) => (
      <div class="group relative text-center border-t border-x pt-2 pb-6 transition-all duration-300 ease-in hover:text-white hover:bg-black hover:pt-6 cursor-default">
        <span>{pillar.titlePreview}</span>

        <div class="fixed inset-0 invisible group-hover:visible top-1/2 left-1/2 flex flex-col gap-4 p-2 -translate-1/2 w-3/4 h-2/4 border border-white/25 bg-white/5 backdrop-blur-sm transition-all duration-500 scale-10 group-hover:scale-100 text-black text-4xl">
          <div class="flex w-full h-auto items-center justify-center">
            <span class="font-playfair">{pillar.titlePreview}</span>
          </div>

          <div class="grid grid-cols-2 w-full flex-1">
            <div class="flex flex-row items-center justify-center w-full">
              <Image
                src={pillar.img}
                alt={pillar.titlePreview}
                class={"w-auto h-64 object-cover"}
              />
            </div>
            <div class="flex w-full h-full items-center justify-center">
              <p class="text-xl text-black/50">{pillar.description}</p>
            </div>
          </div>
        </div>
      </div>
    ))
  }
</div>

<script is:inline>
  const bottomCards = document.getElementById("bottom-cards");

  window.addEventListener("scroll", () => {
    const currentScroll = window.scrollY;

    if (currentScroll !== 0) {
      bottomCards.style.opacity = "0";
    } else {
      bottomCards.style.opacity = "1";
    }
  });
</script>
