---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import { SPECIALIZED_ENGINEERING } from "@data/specializedEngineering";
---

<section
  id="ingenieria-especializada"
  class="relative bg-gray-200 w-full lg:h-screen px-[5%] z-1"
>
  <div class="flex flex-col items-center justify-center w-full h-full">
    <h2 class="text-4xl lg:text-6xl font-black">
      <span class="text-[#004fa8]">INGENIERÍA</span>
      <span class="text-gray-900">ESPECIALIZADA</span>
    </h2>
    <p
      class="flex flex-col items-center justify-center text-center text-md lg:text-lg max-w-2xl mx-auto"
    >
      <span class="text-black/50"
        >Somos tu socio estratégico en ingeniería y apertura comercial.</span
      >
      <span>
        Ponemos a tu disposición <strong>dos modelos de negocio</strong> que impulsa
        la viabilidad, el desarrollo y la ejecución exitosa de tus proyectos.
      </span>
    </p>

    <div class="flex flex-col items-center justify-center gap-4 w-full mt-4">
      <div
        class="flex items-center justify-center border-2 border-[#004ea9] w-fit"
      >
        <button data-filter="pro" class="bg-[#004ea9] text-gray-100 w-24"
          >Pro</button
        >
        <button data-filter="business" class="w-24">Business</button>
      </div>

      <div class="grid grid-cols-3 gap-2">
        {
          SPECIALIZED_ENGINEERING.map((item) => (
            <div
              class:list={[
                "relative bg-[#004ea9] flex felx-col w-full",
                item.tier === "pro" && "col-span-3",
              ]}
              data-tier={item.tier}
            >
              <Image
                src={item.img}
                alt={item.alt}
                class="absolute top-0 left-0 w-full h-full object-cover grayscale-50 will-change-transform"
              />
              <div class="absolute top-0 left-0 w-full h-full bg-radial-[at_50%_75%] from-[#004ea9BB] from-40% to-[#004ea9] backdrop-blur-xs" />

              {item.subImgs && (
                <div class="absolute top-0 right-0 flex items-center justify-center gap-4 w-fit h-auto bg-white/25 px-6 py-1">
                  {item.subImgs.map((subImg) => (
                    <Image src={subImg} alt={"Logo"} class="w-28 h-auto" />
                  ))}
                </div>
              )}

              <div
                class:list={[
                  "relative w-full",
                  item.tier === "pro" ? "px-6 pt-8 pb-6" : "p-4",
                ]}
              >
                <span class="text-2xl text-gray-200 font-bold w-full">
                  {item.title}
                </span>
                {item.description.map((block) =>
                  typeof block === "string" ? (
                    <div set:html={block} class="text-gray-300" />
                  ) : (
                    <ul class="list-disc list-inside grid grid-cols-2 gap-2 my-1 text-gray-300">
                      {block.map((li) => (
                        <li>{li}</li>
                      ))}
                    </ul>
                  ),
                )}
              </div>
            </div>
          ))
        }
      </div>
    </div>

    <a
      href="/aplica"
      class="group flex items-center gap-2 hover:underline w-fit py-2 rounded-md tetx-gray-200"
    >
      <span>Aplica con tu proyecto</span>
      <Icon
        name="lucide:arrow-right"
        class="group-hover:translate-x-2 transition-all duration-500"
      />
    </a>
  </div>
</section>

<script is:inline>
  const filterBtns = document.querySelectorAll("[data-filter]");
  const items = document.querySelectorAll("[data-tier]");

  filterBtns.forEach((btn) => {
    btn.addEventListener("click", () => {
      const filter = btn.dataset.filter;

      filterBtns.forEach((b) => {
        b.classList.toggle("bg-[#004ea9]", b === btn);
        b.classList.toggle("text-gray-100", b === btn);
      });

      items.forEach((item) => {
        item.classList.toggle("hidden", item.dataset.tier !== filter);
      });
    });
  });

  filterBtns[0]?.click();
</script>
