---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import BgParallaxImg from "@imgs/home/estadisticas/fondo.jpg";
import { SUPPORT_PLANS } from "@data/technicalSupport";
---

<section
  id="soporte-tecnico"
  class="relative bg-gray-200 flex flex-col items-center justify-center gap-2 w-full min-h-screen px-[5%] py-12 lg:py-[5%]"
>
  <Image
    src={BgParallaxImg}
    alt={"Imagen de fondo de un parque solar"}
    class="absolute top-0 left-0 w-full h-full grayscale-50 will-change-transform"
  />
  <div
    class="absolute top-0 left-0 w-full h-full bg-radial-[at_50%_25%] from-[#004ea9AA] from-40% to-[#06183D] backdrop-blur-xs"
  >
  </div>

  <div
    class="relative flex flex-col items-center justify-center text-center w-full"
  >
    <h2 class="flex flex-col gap-2 text-4xl lg:text-6xl font-black uppercase">
      <span class="text-gray-100">Soporte Técnico Post Venta</span>
    </h2>
    <p class="w-full lg:w-3/4 text-gray-200 text-sm lg:text-xl mb-4">
      Nuestro equipo de expertos está listo para brindarte el mejor
      acompañamiento y asegurar el éxito de tus proyectos solares.
    </p>

    <div
      class="flex items-center justify-center border-2 border-black/10 w-fit"
    >
      <button
        data-filtertechsupport="premium"
        class="bg-black/10 backdrop-blur-sm text-gray-100 w-24">Premium</button
      >
      <button data-filtertechsupport="basic" class="text-gray-200 w-24">Básico</button>
    </div>
  </div>

  <div class="relative w-full px-[5%]">
    {
      SUPPORT_PLANS.map((plan) => (
        <article
          data-typetechsupport={plan.type}
          class:list={[
            "bg-linear-to-br from-35% from-black/15 to-white/15 backdrop-blur-sm flex flex-col gap-2 p-6 transition-all duration-300",
            plan.type !== "premium" && "hidden",
          ]}
        >
          <header class="flex items-center gap-3">
            <div class="flex items-center justify-center w-10 h-10 text-gray-100 bg-white/15">
              <Icon
                name={
                  plan.type === "premium" ? "lucide:crown" : "lucide:shield"
                }
                class="text-xl text-white"
              />
            </div>
            <h3 class="font-bold text-xl text-gray-100">{plan.title}</h3>
          </header>

          <p class="text-sm px-3 py-2 bg-white/10 text-gray-100">
            {plan.subtitle}
          </p>

          <ul class="flex flex-col gap-2.5 mt-2">
            {plan.features.map((feature) => (
              <li class="flex items-center gap-2 text-sm">
                <Icon
                  name="lucide:circle"
                  class="shrink-0 text-[8px] text-white/70"}
                />
                <span
                  class="text-gray-100"
                >
                  {feature}
                </span>
              </li>
            ))}
          </ul>
        </article>
      ))
    }
  </div>

  <div class="flex items-center justify-center w-full mt-6">
    <a
      href="/aplica"
      class="group flex items-center gap-2 hover:underline w-fit px-5 py-2 rounded-md"
    >
      <Icon name="lucide:notepad-text" class="text-2xl text-[#004fa8]" />
      <span>Aplica con tu proyecto</span>
      <Icon
        name="lucide:arrow-right"
        class="group-hover:translate-x-2 transition-all duration-500"
      />
    </a>
  </div>
</section>

<script>
  const buttons = document.querySelectorAll("[data-filtertechsupport]");
  const cards = document.querySelectorAll("[data-typetechsupport]");

  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      const filter = button.dataset.filtertechsupport;

      // Toggle active button
      buttons.forEach((btn) => {
        btn.classList.remove(
          "bg-black/10",
          "backdrop-blur-sm",
          "text-gray-100",
        );
        btn.classList.add("text-gray-200");
      });

      button.classList.add("bg-black/10", "backdrop-blur-sm", "text-gray-100");
      button.classList.remove("text-gray-200");

      // Show matching cards
      cards.forEach((card) => {
        card.classList.toggle("hidden", card.dataset.typetechsupport !== filter);
      });
    });
  });
</script>
